*.code-workspace
.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
docs/doxygen/html
docs/doxygen/latex
demo-data/
test-keys/
__pycache__/
*.py[cod]
*$py.class
